[submodule "gitorials/agility"]
	path = gitorials/agility
	url = git://github.com/Hobo/agility-gitorial.git
[submodule "public/patches/agility"]
	path = public/patches/agility
	url = git://github.com/Hobo/agility-gitorial-patches.git
