/*
 * This is the stylesheet manifest file for the front subsite (which
 * is your whole application if you don't have any subsites).  Files
 * or plugins referenced from here or placed in the front/ directory
 * will be included.
 *
 *= require_self
 *= require hobo_rapid
 *= require hobo_jquery
 *= require hobo_bootstrap_ui
 *= require application
 *= require hobo_omniauth
 *= require_tree ./front
*/

@import "bootswatch/united/variables";
@import "hobo_bootstrap";
@import "bootswatch/united/bootswatch";

.document-title {
  @extend h1;
}

.hero-unit {
  background-color: #EEEEEE;
}


/* Make sure the arrows stay always at the same height, even if pictures have different sizes */
#gallery-carousel .carousel-control {
  top: 120px;
}
/* Make the gallery pictures stay in the center, regardless of the screen size */
#gallery-carousel img{
  display: block;
  margin:0 auto;
}


ul#markdown-toc {
  list-style-type: none;
}

ul#markdown-toc ul {
  list-style-type: none;
}

.hidden {
  display: none;
}
.navbar .nav > li > a {
  color: white;
  float: none;
  padding: 10px 11px;
}
