/** RUBY / JAVASCRIPT **/
code span.comment {
	color: #6D6D6D;
}

code span.string {
	color: #0F6500;
}

code span.brackets {
	
}

code span.keywords {
	color: #B43473; font-weight: bold;
}

code span.erb {
	background: #333;
}

code span.symbol {
	color: #DE352F; font-weight: bold;
}

/** DRYML **/
code span.tag {
	color: #005899; font-weight: bold;
}

code span.parameter {
	color: #52115D; font-weight: bold;
}

code span.attribute {
	color: #005899
}

code span.doctype {
	color: #D7FF80;
}
pre.dryml code span.string {
	color: #0F6500;
}
code span.paramdec {
	color: #990300; font-weight: bold;
}

pre.diff code span.file {
     color: #000080;
}

pre.diff code span.add {
     color: #00A000;
}

pre.diff code span.remove {
     color: #A00000;
}

pre.diff code span.line_number {
     color: #800080;
}

p.commit {
    font-style: italic;
    font-size: 75%;
}

